@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height:100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}

body{
    background-color: black;
}

.main{
    height: 80vh;
    background-image: url('./assets/10001.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 62px;
}

nav img{
    color: red;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    height:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    gap:20px;
    padding: 0 30px;

}

.hero h1{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero p{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.line{
    height: 7px;
    background-color: rgb(83, 80, 80);
    position: relative;
    bottom:62px;
}

.btn{
    padding:3px 8px;
    font-weight: 400;
    font-size: 16px;
    background-color: rgba(23,23,23,0.7);
    color:#fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    cursor: pointer;
}

.btn-red{
        background-color: red;
        color: #fff;
        font-weight: 400;
        font-size: 24px;
        border-radius: 4px;
        border: none;
}

.btn-red-sn{
        background-color: red;
        color: #fff;        
        font-size: 16px;
        font-weight: 400;
}

.main input{
    padding: 7px 100px 8px 14px;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    font-weight: 400;
    border: 1px solid rgba(246,238,238,0.5);
    color: #fff;
}

.hero-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}