@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}

nav{
    background-color: rgb(129, 164, 39);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    position: sticky;
}

nav ul:hover{
    cursor: pointer;
}

nav img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}


nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
}

nav ul li {
    list-style: none;
}


.container{
    height: 400px;
    background-image: url('https://images.pexels.com/photos/2026454/pexels-photo-2026454.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.left-container{
    height: 200px;
    width: 35%;
    background-color: #5051ad;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.right-container{
    height: 200px;
    width: 20%;
    padding: 20px;
    border-radius: 20px;
}

.right-container img{
    height: 200px;
    border-radius: 20px;
}

.middle{
    text-align: center;
    padding: 20px;
    border-radius:20px ;
    margin: 20px;
    width: 90%;
    background-color: #5051ad;
}

footer{
    text-align: center;
    height: 50px;
    color: #000;
    padding: 10px;
    background-color: aquamarine;
}